.navbar-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 75px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(109, 10, 10, .4);
    border-radius: 10px;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
li{
    margin-left: 10px;
    margin-right: 10px;
}

html{
    background-color:black;
}